
    <div class="card " >
            <div class="card-header">
                <i style="font-size:24px" class="fa">&#xf073; <b>Danh Sách Sinh Viên</b> </i> 
            </div>
            <div class="card-body">
            <input class="text" type="text" placeholder="tìm kiếm..." >
            <button type="button" class="btn btn-info">
                <span class="glyphicon submit1" title="submit" >&#xe003;</span>
            </button>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">LastName</th>
                            <th scope="col">FirstName</th>
                            <th scope="col">EnrollData</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let p of students | orderBy: "LastName" | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }'>
                                <!--  -->
                            <td class="td">
                                {{p.FirstMidName}}
                            </td>
                            <td class="td">
                                {{p.LastName}}
                            </td>
                            <td class="td">
                                {{p.EnrollmentDate}}
                            </td>
                            <td class="td">
                                 <a [routerLink]="['/sinhvien',p.Id]"> <i style='font-size:24px' class='fas'>&#xf12a;</i></a>
                                 <button (click)='delete(p.Id)'><i style="font-size:24px" class="fa">&#xf014;</i></button>
                                 
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="left">
                    Showing 1 of 3
                </div>
                <div class="fight">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
                          <li class="page-item"><a class="page-link" href="#"(click)="Previous()">Previous</a></li>
                          <li class="page-item"><a class="page-link" href="#">1</a></li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          
                          <li class="page-item"><a class="page-link" href="#"(click)="next()">Next</a></li>
                          <li class="page-item"><a class="page-link" href="#"(click)="LastPege()">LastPege</a></li>
                        </ul>
                      </nav>
                </div>
            </div>
           
    </div>
   
       