
<div class="card ">
    <div class="card-header">
     Leaf Rake
    </div>
    <div class="card-body">
     <div class="row">
         <div class="col-md-3">
             <p>ID</p>
             <p>name:</p>
             <p>code:</p>
             <p class="p" >description:</p>
             <p>availability:</p>
             <p>price:</p>
             <p>5 star rating</p>
         </div>
         <div class="col-md-2 " >
             <p>{{product.productId}}</p>
             <p>{{product.productName}}</p>
             <p>{{product.productCode}}</p>
             <p>{{product.description}}</p>
             <p>{{product.releaseDate}}</p>
             <p>{{product.price}}</p>
             <p>{{product.starRating}}</p>
             
         </div>
         <div class="col-md-6">
            <img src="assets\anh\{{product.imageUrl}}" >
         </div>
        </div>
     
    </div>
    <div class="card-footer text-muted">
        <i style='font-size:15px' class='fas'>&#xf060;</i> 
        <a [routerLink]="['/product']">
            <button type="button" class="btn">Back</button>
        </a>
        <button type="button" class="btn btn-primary">AddToCart</button>
    </div>
  </div>
