
<div class="card "style="margin-top:5%">
    <div class="card-header">
     Leaf Rake
    </div>
    <div class="card-body">
     <div class="row">
         <div class="col-md-3">
             <p>name:</p>
             <p>code:</p>
             <p style="margin-bottom: 30px">description:</p>
             <p>availability:</p>
             <p>price:</p>
             <p>5 star rating</p>
         </div>
         <div class="col-md-2 ">
             <p>Leaf rake</p>
             <p>gdn-0010</p>
             <p>leat rake with 48-inch wooden handle</p>
             <p>march 19,2016</p>
             <p>$19.95</p>
             <p>3.2</p>
         </div>
         <div class="col-md-6">
             <img src="http://geniusprint.vn/upload/sanpham/086544.jpg"style="width:100%;height: 300px;">
         </div>
        </div>
     
    </div>
    <div class="card-footer text-muted">
        <i style='font-size:15px' class='fas'>&#xf060;</i> Back
    </div>
  </div>
