
<!-- dki -->
<ul class="nav navbar-nav">

    <li style="background-color:#222">
        
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                                <div class="wrapper fadeInDown">
                                    <div id="formContent">
                                      <div class="fadeIn first">
                                        <img src="https://previews.123rf.com/images/happyjob/happyjob1608/happyjob160800132/62039041-user-icon.jpg" id="icon" alt="User Icon" />
                                      </div>
                                      
                                          <input type="text" id="password" class="fadeIn third" name="login" placeholder="Name">
                                        <input type="email" id="login1" class="fadeIn second" name="login" placeholder="Email">
                                        <input type="password" id="password" class="fadeIn third" name="login" placeholder="password">
                                        <input type="password" id="password" class="fadeIn third" name="login" placeholder="Confirm Password">
                                        <form action="/home" >
                                        <button type="submit" class="btn btn-info" style="background-color:#fff;margin-top:8px;color:#337ab7" data-toggle="modal" >
                                         Login
                                        </button>
                                      </form>
                                     
                                    </div>
                                  </div>
            </div>
            </div>
    </li>
  
  </ul>



<!-- 

  <div class="container">  
        <h2>Employee Registration</h2>  
        <form class="form-horizontal" [formGroup]="userForm" (submit)="saveUser()">  
            <div class="form-group">  
                <label class="control-label col-sm-2" for="name">Name:</label>  
                <div class="col-sm-10">  
                    <input class="form-control" formControlName="name" id="name" />  
                </div>  
            </div>  
            <div class="form-group">  
                <label class="control-label col-sm-2" for="email">Email:</label>  
                <div class="col-sm-10">  
                    <input class="form-control" formControlName="email" id="email" />  
                     
                </div>  
            </div>  
            <div class="form-group">  
                <label class="control-label col-sm-2" for="password">Password:</label>  
                <div class="col-sm-10">  
                    <input class="form-control" type="password" formControlName="password" id="password" />  
                      
                </div>  
            </div>  
            <div class="form-group">  
                <label class="control-label col-sm-2" for="confirmPassword">Confirm Password:</label>  
                <div class="col-sm-10">  
                    <input class="form-control" type="password" formControlName="confirmPassword" id="confirmPassword" />  
                </div>  
            </div>  
            <div class="form-group">  
                <div class="col-sm-offset-2 col-sm-10">  
                    <button type="submit" [disabled]="!userForm.valid" class="btn btn-success">Submit</button>  
                </div>  
            </div>  
        </form>  
    </div>   -->