

<div class="wrapper fadeInDown">
    <div id="formContent">
      <div class="fadeIn first">
        <img src="https://previews.123rf.com/images/happyjob/happyjob1608/happyjob160800132/62039041-user-icon.jpg" id="icon" alt="User Icon" />
      </div>
      <form action="/login">
          <input type="text" id="password" class="fadeIn third" name="login" placeholder="Name">
        <input type="email" id="login" class="fadeIn second" name="login" placeholder="Email">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="Confirm Password">
        <input type="submit" class="fadeIn fourth" value="Registration">
     
      </form>
      <div id="formFooter">
        <a class="underlineHover" href="#"[routerLink]="['/login']">Login</a>
      </div>
  
    </div>
  </div>