<div class="row">
    <div class="left col-md-8">
        <div class="col1 col-md-6"*ngFor='let p of Subjects  | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }'>
            <div class="cart">
                <div class="container">
                    <img src="assets/images/logos/{{p.Logo}}"alt="Avatar" class="image">
                        <div class="overlay">
                            <div class="text"><h1><a href="/{{p.url}}"><b>Exam Now</b></a></h1></div>
                           
                            
                        </div>
                </div>
                <div class="name">
                   {{p.Name}}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="menu">
            <!-- <ul>
                <h3>Danh Mục Môn Học</h3>
                <li><a >Lập trình Android nâng cao</a></li>
                <hr>
                <li><a >Xây dựng trang web</a></li>
                <li><a >Cơ sở dử liệu</a></li>
                <li><a >SQL server</a></li>
                
                <li><a >Internext Maketing</a></li>
                <li><a >Lập Trình Hướng đối tượng với java</a></li>
                <li><a >Lập trình PHP</a></li>
                <li><a >Điện toán đám mây</a></li>
                <li><a >Lập trình Android cơ bản</a></li>
                <li><a >Lập trình Game 2D</a></li>
                <li><a >Thiết kế giao diện web trên Android</a></li>
                <li><a >Thiết Kế web cho Điện thoại di động</a></li>
                <li><a >Lập trình ASP.net</a></li>
            </ul> -->
            <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th><i  class='fas'>&#xf073;</i> Danh Mục Môn Học</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let p of Subjects | paginate: { itemsPerPage:  itemsPer, currentPage: current }'>
                            <td><a >{{p.Name}}</a></td>
                           
                         </tr> 
                        <tr class="menu1">
                            <td><a > <button (click)="Previous1()">
                                <a >
                                    <i  class='far'>&#xf0a5;</i>
                                </a>
                            </button>
                            <button (click)="next1()">
                                <a >
                                    <i  class='far'>&#xf0a4;</i>
                                </a>
                            </button> </a></td>
                        </tr>
                         <!-- <tr>
                            <td><a > Lập trình Android nâng cao </a></td>
                        </tr>
                        <tr>
                            <td><a >Xây dựng trang web</a></td>
                        </tr>
                        <tr>
                            <td><a >Cơ sở dử liệu</a></td>
                        </tr>
                        <tr>
                            <td><a >SQL server</a></td>
                        </tr>
                        <tr>
                            <td><a >Internext Maketing</a></td>
                        </tr>
                        <tr>
                            <td><a >Lập Trình Hướng đối tượng với java</a></td>
                        </tr>   
                        <tr>
                            <td><a >Lập trình PHP</a></td>
                        </tr>
                        <tr>
                            <td><a >Điện toán đám mây</a></td>
                        </tr>
                        <tr>
                            <td><a >Lập trình Android cơ bản</a></td>
                        </tr>          
                        <tr>
                            <td><a >Lập trình Game 2D</a></td>
                        </tr>
                        <tr>
                            <td><a >Thiết kế giao diện web trên Android</a></td>
                        </tr>
                        <tr>
                            <td><a >Thiết Kế web cho Điện thoại di động</a></td>
                        </tr> 
                        <tr>
                            <td><a >Lập trình ASP.net</a></td>
                        </tr>    -->
                    </tbody>
                  </table>
        </div>
    </div>
</div>
<!-- Footer -->
<footer class="footer row">
    <button (click)="top()">
        <a >
            <i  class='far'>&#xf0a6;</i>
        </a>
    </button>
    <button (click)="Previous()">
        <a >
            <i  class='far'>&#xf0a5;</i>
        </a>
    </button>
    <button (click)="next()">
        <a >
            <i  class='far'>&#xf0a4;</i>
        </a>
    </button>
    <button (click)="LastPege()">
        <a >
            <i  class='far'>&#xf0a7;</i>
        </a>
    </button>
  </footer>