<div class="row">
    <div class="left col-md-8">
        <div class="col1 col-md-6"*ngFor='let p of Subjects  | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }'>
            <div class="cart">
                <div class="container">
                    <img src="assets/images/logos/{{p.Logo}}"alt="Avatar" class="image">
                        <div class="overlay">
                            <div class="text"><h1><a [routerLink]="['/web',p.Id]"><b>Exam Now</b></a></h1></div>
                            <!-- <a [routerLink]="['/productdetaill',p.productId]"> {{p.productName}} Exam Now</a> -->
                            <!-- <div class="text"><h1><a [routerLink]="['/java']"><b>Exam Now</b></a></h1></div> -->
                        </div>
                </div>
                <div class="name">
                   {{p.Name}}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="menu">
            <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th><i  class='fas'>&#xf073;</i> Danh Mục Môn Học</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let p of Subjects | paginate: { itemsPerPage:  itemsPer, currentPage: current }'>
                            <td><a [routerLink]="['/web',p.Id]">{{p.Name}}</a></td>
                           
                         </tr> 
                        <tr class="menu1">
                            <td><a > <button (click)="Previous1()">
                                <a >
                                    <i  class='far'>&#xf0a5;</i>
                                </a>
                            </button>
                            <button (click)="next1()">
                                <a >
                                    <i  class='far'>&#xf0a4;</i>
                                </a>
                            </button> </a></td>
                        </tr>
                    </tbody>
                  </table>
        </div>
    </div>
</div>
<!-- Footer -->
<footer class="footer row">
    <button (click)="top()">
        <a >
            <i  class='far'>&#xf0a6;</i>
        </a>
    </button>
    <button (click)="Previous()">
        <a >
            <i  class='far'>&#xf0a5;</i>
        </a>
    </button>
    <button (click)="next()">
        <a >
            <i  class='far'>&#xf0a4;</i>
        </a>
    </button>
    <button (click)="LastPege()">
        <a >
            <i  class='far'>&#xf0a7;</i>
        </a>
    </button>
  </footer>