
    <p>London is the capital city of England. It is the most populous city in the  United Kingdom, with a metropolitan area of over 13 million inhabitants.</p>
    <h2>The Goods</h2>
  <div class="a">
     
      <div class="left">
        <img src="http://file.vforum.vn/hinh/2016/08/hinh-anh-dep-ve-am-nhac-music-1.jpg" >
      </div>
      <div class="right">
          <h4><a [routerLink]="['/product']">tên san phẩm</a></h4>
          <p><b>Your price:</b>$43.23</p>
      <p>Standing on the River Thames, London has been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p>

      </div>
  </div>


  <div class="a">
     
      <div class="left">
        <img src="http://file.vforum.vn/hinh/2016/08/hinh-anh-dep-ve-am-nhac-music-1.jpg" >
      </div>
      <div class="right">
          <h4><a [routerLink]="['/product']">tên san phẩm</a></h4>
          <p><b>Your price:</b>$43.23</p>
      <p>Standing on the River Thames, London has been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p>

      </div>
  </div>

  <div class="a">
     
      <div class="left">
        <img src="http://file.vforum.vn/hinh/2016/08/hinh-anh-dep-ve-am-nhac-music-1.jpg" >
      </div>
      <div class="right">
          <h4><a [routerLink]="['/product']">tên san phẩm</a></h4>
          <p><b>Your price:</b>$43.23</p>
      <p>Standing on the River Thames, London has been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p>

      </div>
  </div>
