img{
    width: 150px;
    height: 100px;
}
table th{
    text-align: center;
    background-color: darkgrey;
    color: #fff;
}
button{
 margin-left: 5px;
}
.td{
   padding:  45px;
   text-align: center;
}
table{
    border: 1px solid skyblue
}
.tien{
    padding-left: 50px;
}
.tong{
    padding-left: 50px
}