     
<div class="row">
    <div class="left col-md-8">
    <div class="card"*ngFor='let p of ADBS | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }'>
            <div class="card-header text-muted">
                 <p><b>Lập trình Android nâng cao</b> </p>
            </div>
            <div class="card-body">
                  <form action="#">
                      <h4>{{p.Id}}.{{p.Text}}</h4>
                      <hr>
                        <input type="radio" name="age" value="30"> {{p.Answers[0].Text}}<br>
                        <input type="radio" name="age" value="30"> {{p.Answers[1].Text}}<br>
                        <input type="radio" name="age" value="30"> {{p.Answers[2].Text}}<br>
                        <input type="radio" name="age" value="30"> {{p.Answers[3].Text}}<br>
                      </form>
            </div>
            <div class="card-footer text-muted">
              <P> MARKS 0/1   <button type="submit" class="btn btn-default"><b>Submit</b></button> </P>
            </div>
           
    </div>
    <span>
        <footer class="footer row">
            <button (click)="top()">
                <a >
                    <i  class='far'>&#xf0a6;</i>
                </a>
            </button>
            <button (click)="Previous()">
                <a >
                    <i  class='far'>&#xf0a5;</i>
                </a>
            </button>
            <button (click)="next()">
                <a >
                    <i  class='far'>&#xf0a4;</i>
                </a>
            </button>
            <button (click)="LastPege()">
                <a >
                    <i  class='far'>&#xf0a7;</i>
                </a>
            </button>
          </footer>
    </span>
  </div>
    <div class="col-md-4">
      <div class="menu">
          <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th><i  class='fas'>&#xf073;</i> Danh Mục Môn Học</th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor='let p of Subjects | paginate: { itemsPerPage:  itemsPer, currentPage: current }'>
                          <td><a >{{p.Name}}</a></td>
                         
                       </tr> 
                      <tr class="menu1">
                          <td><a > <button (click)="Previous1()">
                              <a >
                                  <i  class='far'>&#xf0a5;</i>
                              </a>
                          </button>
                          <button (click)="next1()">
                              <a >
                                  <i  class='far'>&#xf0a4;</i>
                              </a>
                          </button> </a></td>
                      </tr>
                  </tbody>
                </table>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <footer class="footer row">
    
  </footer>