<table class="table">
    <thead>
        <tr>
            <th scope="col">
                ID
            </th>
            <th scope="col">
                Image
            </th>
            <th scope="col">
                Name
            </th>
            <th scope="col">
                Price
            </th>
            <th scope="col">
                Quatity
            </th>
            <th scope="col">
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                1
            </td>
            <td>
                <img src="">
            </td>
            <td>
                iphone
            </td>
            <td>
                300
            </td>
            <td>
                +-
            </td>
            <td>
                view delete
            </td>
        </tr>
    </tbody>
</table>
