<style>
    .wrap{
        margin-top: 5%;
    }
.nav{
    width: 25%;
    height: auto;
    float: left;
    background-color: lightgray;
   
}
.content{
    width: 75%;
    height: auto;
    float: right;
    
}
i{
    font-size: 15px;
    color: blue
}
span{
    font-size: 15px;
    color: blue
}
.nav li{
    list-style: none;
    padding: 7%;
    width: 115%;
}
.nav li:hover{
    background-color: aqua;
    width:210%;
    border: 1px solid rgb(238, 10, 227);
    margin-left: -22px
}
button{
    margin: 0 5px 0;
}
</style>
<div class="wrap">
   
    <div class="main">
            
           
        <div class="nav">
                <p >
                        <span class="glyphicon"style="font-size:30px;padding:5px;margin-left:230px">&#xe236;</span> 
                </p>
                <h4 style="text-align: center;width: 190%;">
                       
                            <span class="glyphicon"style="font-size:50px">&#xe243;</span>
                   <p>Bootstrap</p> 
                </h4>
                
            <ul>
               
                    <li class="li"><i class="fa fa-fw fa-home"></i> Home</li>
                    <li class="li"><i class="fa fa-fw fa-user"></i> Employees</li>
                    <li class="li"> <span class="glyphicon">&#x2601;</span> Projects</li>
                    <li> <span class="glyphicon">&#x270f;</span> Skills</li>
                    <li> <span class="glyphicon">&#xe145;</span> Interns</li>
                    <li><span class="glyphicon">&#xe044;</span> Topics</li>
                    <li><span class="glyphicon">&#xe121;</span> Courses</li>
                    <li><span class="glyphicon">&#xe044;</span> Topic-course</li>
                    <li> <span class="glyphicon">&#xe118;</span>  Classes</li>
               </ul>
        </div>
        <div class="content"style="padding:3%">
                <p><a href="#"> Home / About</a></p>
            <div class="row">
              <div class="col-md-4">
                    <P>
                            Show:
                            <select style="width:70PX;height: 30PX;border-radius: 5px;text-align: center">
                                    <option>10</option>
                                    <option>20</option>
                                    <option>30</option>
                                    <option>40</option>
                                    <option>50</option>
                            </select>
                           
                    </P>
              </div>
              <div class="col-md-8">
                    <button type="button" class="btn btn-primary">Excel</button>
                    <button type="button" class="btn btn-primary">PDf</button>
                    <input type="text" name="fname"  placeholder="search..."style="height:30px">
                    <button style="padding-bottom: 3px">
                            <span class="glyphicon" title="submit" style="padding: 4px;">&#xe003;</span>
                    </button>
                    <button type="button" class="btn btn-primary">+ ADD Employee</button>
              </div>
            </div>
            <table class="table"style="text-align: center;margin-top:20px">
                <thead>
                    <tr >
                        <th scope="col" style="text-align: center">
                            ID
                        </th>
                        <th scope="col" style="text-align: center">
                            FirstName
                        </th>
                        <th scope="col" style="text-align: center">
                            LastName
                        </th>
                        <th scope="col" style="text-align: center">
                            EMail
                        </th>
                        <th scope="col" style="text-align: center">
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="col">
                            1
                        </td>
                        <td scope="col">
                           công
                        </td>
                        <td scope="col">
                            ngô
                        </td>
                        <td scope="col">
                          cong@gmail.com
                        </td>
                        
                        <td scope="col">
                                <button style="background-color: #fff;border: none"><span class="glyphicon"style="color:#007fff;padding:3px">&#xe086;</span></button>
                                <button style="background-color: #fff;border: none"> <span class="glyphicon"style="margin:0 8px;color:#007fff;padding:3px">&#x270f;</span></button>
                                <button style="background-color: #fff;border: none"><span class="glyphicon"style="margin:0 8px;color:#ff0000;padding:3px">&#xe020;</span></button>
                                 
                        </td>
                    </tr>
                    <tr>
                            <td scope="col">
                               2
                            </td>
                            <td scope="col">
                               công
                            </td>
                            <td scope="col">
                                phượng
                            </td>
                            <td scope="col">
                              puong@gmail.com
                            </td>
                            
                            <td scope="col">
                                    <button style="background-color: #fff;border: none"><span class="glyphicon"style="color:#007fff;padding:3px">&#xe086;</span></button>
                                    <button style="background-color: #fff;border: none"> <span class="glyphicon"style="margin:0 8px;color:#007fff;padding:3px">&#x270f;</span></button>
                                    <button style="background-color: #fff;border: none"><span class="glyphicon"style="margin:0 8px;color:#ff0000;padding:3px">&#xe020;</span></button>
                                     
                            </td>
                        </tr>
                        <tr>
                                <td scope="col">
                                    3
                                </td>
                                <td scope="col">
                                   công
                                </td>
                                <td scope="col">
                                    dinh
                                </td>
                                <td scope="col">
                                  dinh@gmail.com
                                </td>
                                
                                <td scope="col">
                                        <button style="background-color: #fff;border: none"><span class="glyphicon"style="color:#007fff;padding:3px">&#xe086;</span></button>
                                        <button style="background-color: #fff;border: none"> <span class="glyphicon"style="margin:0 8px;color:#007fff;padding:3px">&#x270f;</span></button>
                                        <button style="background-color: #fff;border: none"><span class="glyphicon"style="margin:0 8px;color:#ff0000;padding:3px">&#xe020;</span></button>
                                         
                                </td>
                            </tr>
                            <tr>
                                    <td scope="col">
                                        4
                                    </td>
                                    <td scope="col">
                                       công
                                    </td>
                                    <td scope="col">
                                        vũ
                                    </td>
                                    <td scope="col">
                                      vu@gmail.com
                                    </td>
                                    
                                    <td scope="col">
                                            <button style="background-color: #fff;border: none"><span class="glyphicon"style="color:#007fff;padding:3px">&#xe086;</span></button>
                                            <button style="background-color: #fff;border: none"> <span class="glyphicon"style="margin:0 8px;color:#007fff;padding:3px">&#x270f;</span></button>
                                            <button style="background-color: #fff;border: none"><span class="glyphicon"style="margin:0 8px;color:#ff0000;padding:3px">&#xe020;</span></button>
                                             
                                    </td>
                                </tr>
                                <tr>
                                        <td scope="col">
                                            5
                                        </td>
                                        <td scope="col">
                                           công
                                        </td>
                                        <td scope="col">
                                            công
                                        </td>
                                        <td scope="col">
                                          cong@gmail.com
                                        </td>
                                        
                                        <td scope="col">
                                            <button style="background-color: #fff;border: none"><span class="glyphicon"style="color:#007fff;padding:3px">&#xe086;</span></button>
                                         <button style="background-color: #fff;border: none"> <span class="glyphicon"style="margin:0 8px;color:#007fff;padding:3px">&#x270f;</span></button>
                                         <button style="background-color: #fff;border: none"><span class="glyphicon"style="margin:0 8px;color:#ff0000;padding:3px">&#xe020;</span></button>
                                          
                                        </td>
                                    </tr>
                </tbody>
            </table>
            <div id="footer">
                <div class="row">
                    <div class="col-md-7">
                            Shopping 1 to 5 of 5 emplayees
                    </div>
                    <div class="col-md-5">
                            <nav aria-label="Page navigation example"style="float:right">
                                    <ul class="pagination">
                                      <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Previous">
                                          <span aria-hidden="true">&laquo;</span>
                                         
                                        </a>
                                      </li>
                                      <li class="page-item "><a class="page-link " href="#">1</a></li>
                                      <li class="page-item active"><a class="page-link" href="#">2</a></li>
                                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                                      <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                          <span aria-hidden="true">&raquo;</span>
                                         
                                        </a>
                                      </li>
                                    </ul>
                                  </nav>
                    </div>
                </div>
                   
                   
                </div>
        </div>
            
    </div>
   
</div>