
    <h3>Product Selected</h3>
  <div class="a">
     
      <div class="left">
        <img src="http://file.vforum.vn/hinh/2016/08/hinh-anh-dep-ve-am-nhac-music-1.jpg" >
      </div>
      <div class="right">
          <h4>tên sản phẩm</h4>
          <p><b>Your price:</b>$43.23</p>
      <p>London has been a major settlement </p>

      </div>
      <b>Quatity</b>
      <select >
        <option value="volvo">1</option>
        <option value="saab">2</option>
        <option value="vw">3</option>
        <option value="audi" selected>4</option>
      </select>
  
      <a [routerLink]="['/quatity']" class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-shopping-cart"></span>Add Cart
      </a>
    </div>
