
<div class="card ">
    <div class="card-header">
        <i style="font-size:24px" class="fa">&#xf073; Detitle</i> 
    </div>
    <div class="card-body">
        <div >
            <p><b>LastName</b></p>
            <p>{{sinhvien.LastName}}</p>
            <p><b>FirstName</b></p>
            <p>{{sinhvien.FirstMidName}}</p>
            <p><b>EnrollmentDate</b>:</p>
            <p>{{sinhvien.EnrollmentDate}}</p>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Course Title</th>
                    <th scope="col">Grade</th>
                    <th scope="col">Credits</th>
                </tr>
            </thead>
            <tbody>
                <tr  >
                    <td class="td">
                      {{sinhvien.courses.Title}}
                        </td>
                    <td class="td">
                   {{sinhvien.enrollments.Grade}}
                    </td>
                    
                    <td class="td">
                      {{sinhvien.courses.Credits}}
                    </td>
                </tr>
                <tr  >
                    <td class="td">
                      {{sinhvien.coursess.Title}}
                        </td>
                    <td class="td">
                   {{sinhvien.enrollmentss.Grade}}
                    </td>
                    
                    <td class="td">
                      {{sinhvien.coursess.Credits}}
                    </td>
                </tr>
                <tr  >
                    <td class="td">
                      {{sinhvien.coursesss.Title}}
                        </td>
                    <td class="td">
                   {{sinhvien.enrollmentsss.Grade}}
                    </td>
                    
                    <td class="td">
                      {{sinhvien.coursesss.Credits}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
  
  </div>
