<div class=" container">
  <div class="banner">
      <img src="/assets/images/banner.png">
  </div>
  
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <!-- <a class="navbar-brand" href="#"><img src="/assets/images/logos/PHPPP.png"></a> -->
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><img src="/assets/images/logos/PHPP1.png"></li>
          <li><a [routerLink]="['/home']"><b>MuaTC-Exam</b></a></li>
          <li><a [routerLink]="['/introduce']"><b>Introduce</b></a></li>
          <li><a [routerLink]="['/comment']"><b>Comment</b></a></li>
          <!-- <li><a href="#"><b>Góp Ý</b></a></li> -->
          <!-- <li><a href="#"><b>Hỏi Đáp</b></a></li>-->
        </ul>
        <ul class="nav1 navbar-nav navbar-right">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <b>Tài Khoản<i class="fa">&#xf0d7;</i></b>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  <ul>
                    <li>
                      <!-- <a data-target="#myModal" class="dropdown-item" [routerLink]="['/registration']"><b>Đăng Kí</b></a> -->
                      <button type="button" class="btn btn-outline-warning" style="background-color:#fff;margin-top:8px;font-size: 15px; margin-left: -10px; " data-toggle="modal" data-target="#myModal">
                          <span style="color:#337ab7; "><b>Registration</b> </span>
                      </button>
                    </li>
                    <li>
                      <!-- <a class="dropdown-item" [routerLink]="['/login']"><b>Đăng Nhập</b></a> -->
                      <button type="button" class="btn btn-outline-warning" style="background-color:#fff;margin-top:8px;margin-top: -26px; margin-left: -10px  " data-toggle="modal" data-target="#myModal1">
                          <span style="color:#337ab7;"><b> Login</b></span>
                      </button>
                    </li>
                    <li style="    margin-top: -19px;"> <a class="dropdown-item" ><b>Quên Mật Khẩu</b></a></li>
                  <hr>
                    <li><a class="dropdown-item" [routerLink]="['/login']"><b>Đăng Xuất</b></a></li>
                    <li><a class="dropdown-item" ><b>Đổi Mật Khẩu</b></a></li>
                    <li><a class="dropdown-item" ><b>Cập Nhật Tài Khoản</b></a></li>
                  </ul>
                </div>
              </div>
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
 
</div>

<ul class="nav navbar-nav">

    <li style="background-color:#222">
        
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                                <div class="wrapper fadeInDown">
                                    <div id="formContent">
                                      <div class="fadeIn first">
                                        <img src="https://previews.123rf.com/images/happyjob/happyjob1608/happyjob160800132/62039041-user-icon.jpg" id="icon" alt="User Icon" />
                                      </div>
                                      <form action="" >
                                          <input type="text" id="password" class="fadeIn third" name="login" placeholder="Name">
                                        <input type="email" id="login1" class="fadeIn second" name="login" placeholder="Email">
                                        <input type="password" id="password" class="fadeIn third" name="login" placeholder="password">
                                        <input type="password" id="password" class="fadeIn third" name="login" placeholder="Confirm Password">
                                       
                                        <button type="button" class="btn btn-info" style="background-color:#fff;margin-top:8px" data-toggle="modal" data-target="#myModal1">
                                            <span style="color:#337ab7"> Login</span>
                                        </button>
                                      </form>
                                     
                                    </div>
                                  </div>
            </div>
            </div>
    </li>

</ul>

<ul class="nav navbar-nav">

    <li style="background-color:#222">
        
        <div class="modal" id="myModal1">
            <div class="modal-dialog">

                <div class="registration">
                    <div  id="login">
                      <section id="inner-wrapper" class="login">
                        <article>
                          <form action="/home">
                            <div class="form-group">
                              <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope"> </i></span>
                                <input type="email" class="form-control" placeholder="Email Address">
                              </div>
                            </div>
                            <div class="form-group">
                              <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-key"> </i></span>
                                <input type="password" class="form-control" placeholder="Password">
                              </div>
                            </div>
                              <button type="submit" class="btn btn-success btn-block"><b>Submit</b></button>
                          </form>
                          </article>
                        </section>
                    </div>
                  </div>
                    
            </div>
            </div>
    </li>

</ul>