
<div class="container">
    <header>
      <h1>MY GUITAR SHOP</h1>
    </header>
  
    <section>
      <nav>
        <ul>
          <h3><b>Menu Sản Phẩm </b></h3>
          <li><a [routerLink]="['/detail']"><b>Product selected</b></a></li>
          <li><a [routerLink]="['/home']"><b>View Cart</b></a></li>
          <li><a [routerLink]="['/yourcart']"><b>Price</b></a></li>
        </ul>
        <ul>
          
            <li><a [routerLink]="['/detail']"><b>Product selected</b></a></li>
            <li><a [routerLink]="['/home']"><b>View Cart</b></a></li>
            <li><a [routerLink]="['/yourcart']"><b>Price</b></a></li>
          </ul>
          <ul>
          
            <li><a [routerLink]="['/detail']"><b>Product selected</b></a></li>
          <li><a [routerLink]="['/home']"><b>View Cart</b></a></li>
          <li><a [routerLink]="['/yourcart']"><b>Price</b></a></li>
          </ul>
      </nav>
      <article>
    
        <router-outlet></router-outlet>
      </article>
    </section>
  
    <footer>
      <p>END !</p>
    </footer>
  </div>
  
  
  