.card{
    margin-top:5%
}
.text{
    margin-left: 5%;
    color:#b2b2b2
}
img{
    width:100px;
    height: 50px;
}
.td{
    padding: 25px;
}
table th{
    text-align: center
}
table td{
    text-align: center
}