
    <div class="card " >
        <div class="card-header">
                List product
               </div>
        <div class="card-body">
            Fliter by: <input class="text" type="text" value="tìm kiếm..." >
            <h4 style=" text-align:left">Filtered by:</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">
                        <button type="button" class="btn btn-primary" (click)='anhien(isShow)' >Hien image</button>
                        </th>
                        <th scope="col">Product</th>
                        <th scope="col">code</th>
                        <th scope="col">Available</th>
                        <th scope="col">Price</th>
                        <!-- <th scope="col">5 star Rating</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let p of listproduct'>
                        <td>
                            <img src="assets\anh\{{p.imageUrl}}" *ngIf='isShow' >
                        </td>
                        <td>
                           {{p.productName}}
                        </td>
                        <td>
                            {{p.productCode}}
                        </td>
                        <td>
                            {{p.releaseDate}}
                        </td>
                        <td>
                            {{p.price}}
                        </td>
                        <!-- <td>
                            <i class="material-icons">&#xe838;&#xe838;&#xe838;</i>
                        </td> -->
                    </tr>
                    <tr>
                        <td colspan="4">
                            Tổng:
                        </td>
                        <td>
                            {{tong()}}
                        </td>
                    </tr>
                    <!-- <tr>
                        <th scope="row">
                            <img src="assets\anh\xe-gom-rac-ton.gif">
                        </th>
                        <td>garden cart</td>
                        <td>gdn-033</td>
                        <td>
                            march 18,2016
                        </td>
                        <td>
                            $32.32
                        </td>
                        <td>
                            <i class="material-icons">&#xe838;&#xe838;&#xe838;&#xe838;</i>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <img src="assets\anh\buasat.jpg">
                        </th>
                        <td>garden cart</td>
                        <td>gdn-033</td>
                        <td>
                            march 18,2016
                        </td>
                        <td>
                            $32.32
                        </td>
                        <td>
                            <i class="material-icons">&#xe838;&#xe838;&#xe838;&#xe838;&#xe838;</i>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <img src="assets\anh\cuago.jpg">
                        </th>
                        <td>saw</td>
                        <td>gdn-033</td>
                        <td>
                            march 18,2016
                        </td>
                        <td>
                            $32.32
                        </td>
                        <td>
                            <i class="material-icons">&#xe838;&#xe838;&#xe838;&#xe838;</i>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <img src="assets\anh\dochoidientu.jpg">
                        </th>
                        <td>video game controller</td>
                        <td>gdn-033</td>
                        <td>
                            march 18,2016
                        </td>
                        <td>
                            $32.32
                        </td>
                        <td>
                            <i class="material-icons">&#xe838;&#xe838;&#xe838;&#xe838;</i>
                        </td>
                    </tr> -->
                </tbody>
            </table>
        </div>
    </div>
