<form>
    <div class="form-group">
      <label for="exampleInputEmail1">chiều dài</label>
      <input type="number" [(ngModel)]="hcn.cd"[ngModelOptions]="{standalone: true}" class="form-control"  placeholder="chiều dài">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">chiều rộng</label>
        <input type="number" [(ngModel)]="hcn.cr"[ngModelOptions]="{standalone: true}" class="form-control"  placeholder="chiều rộng">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">chu vi</label>
        <input type="number" [(ngModel)]="hcn.cv"[ngModelOptions]="{standalone: true}" class="form-control" >
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">diện tich</label>
        <input type="number"  [(ngModel)]="hcn.dt"[ngModelOptions]="{standalone: true}" class="form-control"  >
      </div>
    <button type="submit" class="btn btn-primary"(click)="tinh()">tính</button>
  </form>