<h3>Product details you love</h3>
  <div class="a">
      <div class="left">
        <img src="assets/images/{{product.imagesurl}}" alt="">
      </div>
      <div class="right">
          <h4>{{product.productname}}</h4>
          <p>Your price:{{product.price | number}}</p>
          <p>Discount:{{product.discount}}</p>
          <h6>New features</h6>
          <ul>
              <li *ngFor='let f of features'> {{f.text}} </li>
          </ul>
      </div>
      <b>Quatity</b>
      <select >
        <option selected>1</option>
        <option >2</option>
        <option >3</option>
        <option  >4</option>
      </select>
      <button class="btn btn-info btn-lg"(click)='addToCart(product)'>Add to cart</button>
    </div>
