
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.4884464233187!2d106.62955931428695!3d10.77385226218847!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752ea055f86e9b%3A0x4b116bfb4bb1cf47!2zMjIgUXXDoWNoIFbFqSwgSG_DoCBUaGFuaCwgVMOibiBQaMO6LCBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1572668170413!5m2!1svi!2s" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

   
    <div class="form-group col-md-6">
        <label for="nickname">Name</label>
        <input type="text" class="form-control" id="nickname" name="nickname" placeholder="Full Name" value="">
    </div>
    <div class="form-group col-md-6">
        <label for="email">Email</label>
        <input  type="email" class="form-control" id="email" name="email" placeholder="Enter email" value="">
    </div>
    <div class="form-group col-md-6">
        <label for="user_url">Phone Number</label>
        <input type="number" class="form-control" id="user_url" name="user_url" placeholder="Your Phone" value="">
    </div>
    <div class="form-group col-md-6">
        <label for="facebook">Facebook</label>
        <input type="text" class="form-control" id="facebook" name="facebook" placeholder="Your Facebook" value="">
    </div>
    <div class="form-group col-md-6">
        <label for="googleplus">Google Plus</label>
        <input type="text" class="form-control" id="googleplus" name="googleplus" placeholder="Your Google Plus" value="">
    </div>
    <div class="form-group col-md-6">
        <label for="twitter">Twitter</label>
        <input type="text" class="form-control" id="twitter" name="twitter" placeholder="Your Twitter" value="">
    </div>
    <div class="form-group col-md-12">
        <label for="description">Description of you</label>
        <textarea class="form-control" name="description" id="description" rows="3" cols="50"placeholder="Add your comments"></textarea>
    </div>
    <div class="form-group col-md-6">
        <label for="pass1">Password</label>
        <input type="password" class="form-control" id="pass1" name="pass1" placeholder="Password">
    </div>
    <div class="form-group col-md-6">
        <label for="pass2">Confirm Password</label>
        <input type="password" class="form-control" id="pass2" name="pass2" placeholder="Password">
    </div>
    <div class="form-group col-md-12"><button type="button" class="btn btn-primary "  data-toggle="modal" data-target="#myModal3">
        <b> Create</b>
     </button></div>





<ul class="nav navbar-nav">

    <li style="background-color:#222">
        
        <div class="modal" id="myModal3">
            
          <div class="aa"  >
            
                <div class="alert alert-info alert-dismissable">
                        <!-- <a class="panel-close close" data-dismiss="alert">×</a>  -->
                        <i class="fa fa-coffee"></i>                              
                       <b> Update Account!</b>
                      </div>
             <div class="pass">
                 <b><img src="/assets/images/a.png">Update successful </b>
             </div>
          
          </div>
        </div>
    </li>
  
  </ul>