
<form role="form" action="" id="user_profile" >
   
    <div class="form-group col-md-6">
        <label for="nickname">Name</label>
        <input type="text" class="form-control" id="nickname" name="nickname" placeholder="Full Name" value="">
    </div>
    <div class="form-group col-md-6">
        <label for="email">Email</label>
        <input  type="email" class="form-control" id="email" name="email" placeholder="Enter email" value="">
    </div>
    <div class="form-group col-md-6">
        <label for="user_url">Phone Number</label>
        <input type="number" class="form-control" id="user_url" name="user_url" placeholder="Your Phone" value="">
    </div>
    <div class="form-group col-md-6">
        <label for="facebook">Facebook</label>
        <input type="text" class="form-control" id="facebook" name="facebook" placeholder="Your Facebook" value="">
    </div>
    <div class="form-group col-md-6">
        <label for="googleplus">Google Plus</label>
        <input type="text" class="form-control" id="googleplus" name="googleplus" placeholder="Your Google Plus" value="">
    </div>
    <div class="form-group col-md-6">
        <label for="twitter">Twitter</label>
        <input type="text" class="form-control" id="twitter" name="twitter" placeholder="Your Twitter" value="">
    </div>
    <div class="form-group col-md-12">
        <label for="description">Description of you</label>
        <textarea class="form-control" name="description" id="description" rows="3" cols="50"placeholder="Add your comments"></textarea>
    </div>
    <div class="form-group col-md-6">
        <label for="pass1">Password</label>
        <input type="password" class="form-control" id="pass1" name="pass1" placeholder="Password">
    </div>
    <div class="form-group col-md-6">
        <label for="pass2">Confirm Password</label>
        <input type="password" class="form-control" id="pass2" name="pass2" placeholder="Password">
    </div>
    <div class="form-group col-md-12"><button type="button" class="btn btn-primary "  data-toggle="modal" data-target="#myModal3">
        <b> Create</b>
     </button></div>
</form>




<ul class="nav navbar-nav">

    <li style="background-color:#222">
        
        <div class="modal" id="myModal3">
            
          <div class="aa"  >
            
                <div class="alert alert-info alert-dismissable">
                        <!-- <a class="panel-close close" data-dismiss="alert">×</a>  -->
                        <i class="fa fa-coffee"></i>                              
                       <b> Update Account!</b>
                      </div>
             <div class="pass">
                 <b><img src="/assets/images/a.png">Update successful </b>
             </div>
          
          </div>
        </div>
    </li>
  
  </ul>