
<h2>ShoPingCart</h2>
<table>
  <tr>
    <th>Name</th>
    <th>price</th>
    <th >Quantity</th>
    <th >Delete</th>
  </tr>
  <tr *ngFor='let item of guitars'>
    <td >{{item.productname}}</td>
    <td>{{item.price}}</td>
    <td> 
        <button (click)='Tu(item.cid)' type="button" class="btn btn-warning" style="color: #fff;">-</button>
        {{item.sl}}
      <button (click)='Tang(item.cid)' type="button" class="btn btn-success ">+</button>
    </td>
     
    <td><button (click)='delete(item.cid)' class="btn btn-danger"><i class="fa fa-trash"></i></button></td>
  </tr>
  <tr>
    <td colspan="1"><b>Tổng:</b></td>
    
    <td>{{ TongTien() }}</td>
  </tr>
</table>
<a class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-shopping-cart"></span>Buy
</a>