table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    -moz-box-shadow:5px 5px 5px rgb(182, 207, 89);
    -webkit-box-shadow:5px 5px 5px rgb(182, 207, 89);
    box-shadow:5px 5px 5px rgb(182, 207, 89);
   margin-top: 30px;
  }
  
  th, td {
    padding: 15px;
  }
  h2{
    text-shadow: 5px 2px 4px rgb(218, 105, 105);
    color: rgb(241, 12, 12);
  }
  .btn{
      margin: 20px;
      text-align: center;
  }