<div class="container">
        <nav class="navbar navbar-expand-lg  ">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="nav1 navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                      <a class="nav1 nav-link" [routerLink]="['/sinhvien']">Home <b>/</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav1 nav-link" [routerLink]="['/sinhvien']">sinhvien</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav1 nav-link" [routerLink]="['/hcn']">hình chữ nhật</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav1 nav-link" [routerLink]="['/hovaten']">họ tên</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav1 nav-link" [routerLink]="['/tienthuong']">tiền thưởng</a>
                      </li>
                  </ul>
                </div>
              </nav>
            
    <router-outlet></router-outlet>
</div>
