 
<!-- danghap -->
<ul class="nav navbar-nav">

    <li style="background-color:#222">
        
        <div class="modal" id="myModal1">
            <div class="modal-dialog">
                <div class="registration" >
                    <div class="login" id="login">
                      <section id="inner-wrapper" >
                        <article>
                            <form name="form">
                                <div class="form-group" >
                                    <label for="username">Username</label>
                                    <input  type="text" name="username" id="username" class="form-control"   [(ngModel)]="username" [ngModelOptions]="{standalone: true}" placeholder="nhập username là a"/>
                                    <span class="help-block">Username is required</span>
                                </div>
                                <div class="form-group" >
                                    <label for="password">Password</label>
                                    <input type="password" name="password" id="password" class="form-control" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" placeholder="nhập password là a"/>
                                    <span class="help-block">Password is required</span>
                                </div>
                                <div class="form-actions">
                                    <button type="submit" (click) ="check()" class="btn btn-primary">Login</button>
                                    <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                                    <!-- <a href="/registration" class="btn btn-link">Register</a> -->
                                    <button type="button" style="background-color:#fff; border-radius:5px;  " data-toggle="modal" data-target="#myModal">
                                        <span style="color:#337ab7; "><b [routerLink]="['/registration']">Registration</b> </span>
                                    </button>
                                </div>
                            </form>
                           
                          </article>
                        </section>
                    </div>
                  </div>
                    
            </div>
            </div>
    </li>
  
  </ul>


