 
<!-- danghap -->
<ul class="nav navbar-nav">

    <li style="background-color:#222">
        
        <div class="modal" id="myModal1">
            <div class="modal-dialog">
  
                <div class="registration">
                    <div  id="login">
                      <section id="inner-wrapper" class="login">
                        <article>
                         
                            <div class="form-group">
                              <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope"> </i></span>
                                <input type="email" class="form-control" placeholder="Email Address">
                              </div>
                            </div>
                            <div class="form-group">
                              <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-key"> </i></span>
                                <input type="password" class="form-control" placeholder="Password">
                              </div>
                            </div>
                            <form action="/home" >
                              <button type="submit" class="btn btn-success btn-block"><b>  Submit</b></button>
                          </form>
                          </article>
                        </section>
                    </div>
                  </div>
                    
            </div>
            </div>
    </li>
  
  </ul>